@import '../../App'
.Swipe
    position: relative
    &-container 
        position: relative
        margin: 0 auto
        max-height: 100vh
        width: 100% 
        max-width: 600px
        overflow: hidden

    img 
        height: 100vh
        width: 100%
        object-fit: cover
        position: center

    .top-nav 
        position: absolute
        display: flex 
        justify-content: space-between
        align-items: center
        width: 100%
        padding: 5px 15px
        background: linear-gradient(to bottom, black, transparent)
        z-index: 90

        img 
            height: 50px
            width: 50px
        
        i 
            color: white
            font-size: 2rem

    .user-info 
        position: absolute 
        bottom: 0
        background: linear-gradient(to top, black 2%, transparent)
        width: 100%
        height: 100px
        padding: 20px 0 0 15px
        z-index: 90
        .personal
            display: flex 
            align-items: center
            color: white
            justify-content: space-between
            h1 
                margin-bottom: 5px
                span
                    margin-left: 10px
                    font-size: 2rem
            i 
                margin-right: 30px 
                font-size: 2.2rem
            
            .like 
                color: red 
            .unliked 
                color: white
        p 
            margin-left: 10px
            color: $primary-color

.ProfileOverview 
    padding: 70px 30px
    border-radius: 50px 50px 0 0
    width: 100%
    position: absolute 
    bottom: 0 
    left: 0
    background: white
    z-index: 90